@use '../../responsive.scss' as *;

.searchBar {
    .type {
        button {
            padding: 16px 36px;
            border: 1px solid #999;
            border-bottom: none;
            cursor: pointer;
            background: white;
            text-transform: capitalize;

            &.active {
                background: #000;
                color: white;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-right: none;

                @include sm {
                    border-bottom: 1px solid #999;
                }
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-left: none;
            }
        }
    }

    form {
        border: 1px solid #999;
        width: auto;
        height: 64px;
        display: flex;
        justify-content: space-between;
        gap: 5px;

        @include sm {
            flex-direction: column;
            border: none;
        }

        input {
            border: none;
            padding: 0px 20px;
            outline: none;
            width: 200px;

            @include lg {
                padding: 0px 5px;

                &:nth-child(2), &:nth-child(3) {
                    width: 140px;
                }
            }

            @include md {
                width: 200px;

                &:nth-child(2), &:nth-child(3) {
                    width: 200px;
                }
            }

            @include sm {
                width: auto;
                padding: 20px;
                border-bottom: 1px solid #999;

                &:nth-child(2), &:nth-child(3) {
                    width: auto;
                }
            }
        }

        button {
            cursor: pointer;
            background-color: #fece51;
            outline: none;
            border: none;
            flex: 1;
            

            @include sm {
                padding: 10px;
            }

            img {
                width: 24px;
                height: 24px;
                position: relative;
            }
        }
    }

}