@use "../../responsive.scss" as *;

.layout {
  // background: rebeccapurple;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    // background-color: rgb(247, 210, 196);
    max-width: 1250px;
  }

  @include md {
    // background: rgb(186, 203, 234);
    max-width: 768px;
  }

  @include sm {
    // background: rgb(239, 200, 200);
    max-width: 640px;
  }

  .content {
    height: calc(100vh - 100px);
    flex: 1;
  }
}
